MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=1d
PORT=3000
FRONT_URL=https://app.example.com

MAIL_SERVER=
MAIL_PORT=587
MAIL_SENDER=
MAIL_USERNAME=
MAIL_PASSWORD=

FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_BUCKETNAME=
